/* This style is for all devices */


.hide{

    display:none;
}
 
.hoverr div a:hover{
    text-decoration: underline;
    opacity: 0.8;
}
.content2>div a{
    color:white;}

.theme-color{
    background-color: rgb(8, 8, 97)!important;
    background-image: linear-gradient( to bottom right, rgb(8, 8, 97), rgb(85, 85, 156))!important;
}
.left-0{
    left:0px !important;


}
.fisrt-picc{
    display: block;
}
.second-picc{
    display: block;
}
.fisrt-picc{
    display: block;

}
.right-0{
    right:0px !important;
}
.menu_content i{
    font-size: 25px;

}