/* This style is for all devices */


.hide{

    display:none;
}
.theme-color{
    background-color: rgb(8, 8, 97)!important;
    background-image: linear-gradient( to bottom right, rgb(8, 8, 97), rgb(85, 85, 156))!important;
}
.left-0{
    left:0px !important;
}