.caption{
    color: rgb(8, 8, 97);
}


@font-face {
    font-family:MyFont1;
    src: url(Summer.ttf);
    }
    
@font-face {
    font-family:MyFont;
    src:url(OpenBaskerville-0.0.53.otf);
    }

@media only screen and (max-width:600px){
    
.menu_content{
    width:70%;
    background-color: rgb(8, 8, 97);
    color:white;
    padding-left: 5px;
    padding-top: 4px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top:-1px;
    left:-1px;
    box-shadow: 3px 3px 3px rgb(37, 37, 37);
    
}
  body{
      overflow-x:hidden;
  }
  .caption{
    width:15%;
    margin: -5px;
    margin-left: -10px;
    margin-right: -10px;

}
    #top_news{
        font-size:12px;
        width:55em;
        padding: 4px;
        position: relative;
        left: 45em;
        animation: scroll linear 20s infinite;
        -moz-animation:scroll linear 20s infinite;
        -webkit-animation:scroll linear 20s infinite ;
    }
    #top_news1{
        overflow-x:hidden;
    }

    @keyframes  scroll{
        from{
            left:45em;
        }
        to{
            left:-60em;
        }
        
    }
    @-webkit-keyframes  scroll{
        from{
            left:45em;
        }
        to{
            left:-60em;
        }    
    }
    @-moz-keyframes  scroll{
        from{
            left:45em;
        }
        to{
            left:-60em;
        }    
    }
   .p_hide{
       display: none;
   }

    .task_bar{
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .menu_bar{
        height:3em;
        background-color: rgb(8, 8, 97);
        margin-left: 0px;
        margin-right: 0px;
        width:100%;
       display: flex;
        flex-direction: row;
    }
    .menu{
        position: relative;
        margin-top: 10px;
        margin-bottom: auto;
        left:10px;
        color:white;
    }
    .menu_bar>.search{
        position:absolute;
        margin-top:10px;
        margin-bottom:auto;
        width:5em;
        right:1%;
        top:23px;
        color:white;
        border:1px solid white;
        box-shadow: 1px 1px 3px;
    }
    .bars{
        color:white;
        background-color: white;
        width:2em;
        height: 4px;
        margin:3px;
    }
    .logo{
        width:100%;
        display: flex;
        margin: 0;
    }
    .logo>div{
        width:30%;
        
    }
    .animation1{
        animation:open1 1s linear;
        -webkit-animation:open1 1s linear ;
    }
    @keyframes open1{
        from{
             transform: scale(0.1);
        }
        to{
            ransform: scale(1);
        }
        
    }
    @-webkit-keyframes open1{
        from{
            transform: scale(0.1);
       }
       to{
           ransform: scale(1);
       }

    }
    .logo>img{
        width:35%;
    }
    p{
        font-size: 14px;
    }
    .streams_font{
        font-size: 11px;
    }
    #p-hide{
        display: hide;
        visibility: hidden;
    }


}

/*-------------------------------------------------- Out side the box*/ 
.streams_font{
    font-family: MyFont1;
}
.normal_font{
    font-family: MyFont;
}
.header{
    width:100%;
    height:auto;
}
html,body{
    margin:0px;
    height: 100%;
}
.line{
    border:1px solid black;
}
.text-pri{
color:rgb(8, 8, 97);
}